<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="nadpis">Moje nejoblíbenější hry jsou</h1>
    <h3 id="text"> holdfast nationst at war</h3>
    <style>
        body{
    background-color: black;
}

#nadpis {
    background-color: rgb(12, 112, 12); 
    color: white;
    border: 2px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    border-radius: 40px;
   }
#text {
    background-color: rgb(196, 211, 196); 
    color: rgba(255, 233, 233, 0.459);
    border: 2px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    border-radius: 40px;
   }

h1 { 
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
}
    </style>
</body>
</html>