{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Já</title>
    <link href="index.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    Je tu sablona
    <div id="nadpis"><h1>Já</h1>
    </div>
    <div id="text"></div><h3>Zdravím vážení jmenují se Jiří.</h3>
    <img src="https://framerusercontent.com/images/uWEtm8wdAW1prhgeNYuzWf2gESQ.png?width=500&height=500">
    <h3>Tuto stránku rozhodně dělám ze své vůle a nebyl jse k ní přinucen</h3>
    <h3>hraju polo</h3>
    <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbjewALrsx6ddgStZWqK9c2D5Z-F8avRz4NA&s/>
    <a href="{% url 'main_article' %}">odkaz na articles</a>
</body>
    
</html>

